body {
}

#footer{
    width: 100%;
    padding: 20px 20px 20px 20px;
    font-family: 'Cairo';
}

h3{
    color: orangered;
}

#about, #address, #connect{
    display: inline-block;
    width: 30%;
}

#about{
    margin-left: 20px;
    padding-left: 40px;
}

#address, #connect{
    margin-left: 50px;
    padding-left: 100px;
}

.copyrights{
    position: absolute;
    text-align: center;
    width: 100%;

}