/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jul-2017, 7:25:44 PM
    Author     : Jaskaran
*/
html{
    font-size: 17px;
}

*{
    box-sizing: border-box;
}

body{
    background-image: url('../images/login_background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#title{
    position: absolute;
    font-family: 'Didact Gothic';
    background-color: rgba(0,0,0,0.8);
    //border-style: solid;
    //border-width: 4px;
    padding: 1rem;
    //border-color: rgb(232, 62, 190);
    font-size: 1.5rem;
    width: 20%;
    color: rgb(255, 35, 200);
    text-align: center;
    left: 17%;
    top: 7%;
    z-index: 2;
}

.inline{
    display: inline-block;
    margin-left: 20px;
}

.content{
    margin-left: 20%;
    position: relative;
    margin-top: 7%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    overflow-y: scroll;
}

#img1{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 50px 7px black;
}

#logo{
    width: 10%;
    height: 20%;
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 1px 1px 50px 2px black;
}

.image{
    width: 40%;
}

.main{
    background-color: white;
    width: 20%;
    padding: 0.5rem 2rem 2rem 2rem;
    font-size: .95rem;
    font-family: 'Baumans';
    box-shadow: 1px 1px 50px 7px black;
    overflow-y: scroll;
}

#login{
    text-align: center;
    font-family: 'Baumans';
    font-size: 2rem;
}

hr{
    color: black;
    border-style: solid;
    border-width: 1px;
}

#btnSignup, #btnSubmit{
    background-color: rgb(66, 134, 244);
    width: 48.5%;
    font-size: 0.65rem;
    color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 1px;
    cursor: pointer;
}

input{
    height: 2.45rem;
    width: 100%;
}

#signup{
    position: absolute;
    top: 35%;
    background-color: black;
    color: white;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

#btnGuest{
    width: 100%;
    background-color: rgb(66, 134, 244);
    font-size: 0.65rem;
    color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 1px;
    cursor: pointer;
}

#btnSubSign, #btnSubCan{
    width: 130%;
    background-color: rgb(66, 134, 244);
    font-size: 0.65rem;
    color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 1px;
    cursor: pointer;
}

.blurClass{
    filter: blur(15px);
    -webkit-filter: blur(15px);
}